@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Sarabun:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 16mm !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
